<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlcb5RQLa8X6jLCEIDVYwOpSN2A1P9H9k</string>
	<key>GCM_SENDER_ID</key>
	<string>858409667624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectNist</string>
	<key>PROJECT_ID</key>
	<string>project-nist-17ac9</string>
	<key>STORAGE_BUCKET</key>
	<string>project-nist-17ac9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858409667624:ios:a66c386b6c24498d6eb91d</string>
</dict>
</plist>